<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Skill List</title>
</head>
<style>
    body{
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSd6FzTeISoXFf12grNpQ1q5MNDPhN0JQmKnA&usqp=CAU");
        color: black;
    }
    nav{
        text-align: right;
        display: block;
        background-color: transparent;
        color: white;

    }
    a{
        color: #f1f1f1;
    }
    marquee{
        color: white;
        background: #f1f1f1;
    }
    h1{
        text-align: center;
    }
    header{
        text-align: center;
        color: white;
    }
    table,th,td{
        border: 1px solid black ;
        border-collapse: collapse;
        color: black;
    }

</style>
<body>
<header>
    <h1>Employee Management System Portal</h1>
</header>
<br><br><br>
<table class="skill">
    <thead>
    <tr>
        <th>ID</th>
        <th>Skill 1</th>
        <th>Skill 2</th>
        <th>Skill 3</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="skill:${skills}">
        <td th:text="${skill.id}"></td>
        <td th:text="${skill.s1}"></td>
        <td th:text="${skill.s2}"></td>
        <td th:text="${skill.s3}"></td>

    </tr>
    </tbody>
</table>
<br>
</body>
</html>