<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee List</title>
</head>
<style>
body{
    background-repeat: no-repeat;
    background-size: cover;
}

    h1,header{
        color: #f1f1f1;
        background-color: green;
        text-align: center;
        padding: 4px;
}

    table,th,td,tbody,tr,thead{
        border: 1px solid black ;
        border-collapse: collapse;
        color: black;
        width: 0px;
        margin: 5px;
        padding: 0px 3px;

    }
    table{
        margin-left: auto;
        margin-right: auto;
        border-collapse: collapse;
        text-align: center;
    }

ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    width: 12%;
    background-color:black;
    color: #f1f1f1;
    height: 100%;
    position: fixed;
}

li a {
    display: block;
    background-color: black;
    color: white;
    padding: 16px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: blue;
    color: white;
}
.topnav {
    overflow: hidden;
    text-align: center;
}

.topnav a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav a.active {
    background-color: #2196F3;
    color: white;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}
.active{
    background-color: black;
    color: #f1f1f1;
}
img{
    height: 80px;
    width: 120px;
}
button,a{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-collapse: collapse;
    background-color: white;
    color: black;
}
</style>
<body>
<img src="https://media.licdn.com/dms/image/C560BAQFDRpqQyJbc2Q/company-logo_200_200/0/1631303682785?e=2147483647&v=beta&t=LyO68LLPir5E-sP2zHiWjVTzYHUSGfd4bOaUKQSAchs" alt="">
<header>
    <h1>Employee Management System Portal</h1>
</header>
<br>
<div class="top-nav">
    <button>
    <a href="/employees/form"> Add Employee</a>
    </button>
<ul>
    <br><br>
    <li><a href="/employees" >Dashboard</a></li>
    <li><a href="/employees/employeelist" class="active">Employee List</a></li>
    <li><a href="/employees/experience_list">Employee Experience</a></li>
    <li><a href="/employees/skilllist">Employee Skills</a></li>
    <li><a href="/About">Employee Qualification</a></li>
</ul>
</div>
<br>

<div>
    <div class="form-group">
        <form action="/employees/upload" method="Post">
            <input type="file" name="empimage" accept="empimage">
            <button type="submit">Upload</button>
        </form>
    </div>
<table class="employee">
    <thead>
    <tr>
        <th>ID</th>
        <th>Profile</th>
        <th>Name</th>
        <th>Martial Status</th>
        <th>Date of Birth</th>
        <th>Email Address</th>
        <th>Home Address</th>
        <th>Salary</th>
        <th>Telephone/Mobile No</th>
        <th>Country</th>
        <th>Province</th>
        <th>Region</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="employee:${employees}">
        <td th:text="${employee.id}"></td>
        <td><img src="static/profile" alt=""></td>
        <td th:text="${employee.empname}"></td>
        <td th:text="${employee.martialstatus}"></td>
        <td th:text="${employee.dob}"></td>
        <td th:text="${employee.emailaddress}"></td>
        <td th:text="${employee.homeaddress}"></td>
        <td th:text="${employee.salary}"></td>
        <td th:text="${employee.phoneno}"></td>
        <td th:text="${employee.country}"></td>
        <td th:text="${employee.province}"></td>
        <td th:text="${employee.region}"></td>
    </tr>
    </tbody>
</table>
    </div>
</body>
</html>