<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Experience List</title>
</head>
<style>
    body{
        background-repeat: no-repeat;
        background-size: cover;
    }

    h1,header{
        color: #f1f1f1;
        background-color: green;
        text-align: center;
        padding: 4px;
    }

    table,th,td,tbody,tr,thead{
        border: 1px solid black ;
        border-collapse: collapse;
        color: black;
        width: 0px;
        margin: 5px;
        padding: 2px 10px;

    }
    table{
        margin-left: auto;
        margin-right: auto;
        border-collapse: collapse;
        text-align: center;
    }

    ul {
        list-style-type: none;
        margin: 10px;
        padding: 0;
        width: 12%;
        background-color:black;
        color: #f1f1f1;
        height: 100%;
        position: fixed;
    }

    li a {
        display: block;
        background-color: black;
        color: white;
        padding: 16px 16px;
        text-decoration: none;
    }

    /* Change the link color on hover */
    li a:hover {
        background-color: blue;
        color: white;
    }
    .topnav {
        overflow: hidden;
        text-align: center;
    }

    .topnav a {
        float: left;
        display: block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    /* Change the color of links on hover */
    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }
    .topnav a.active {
        background-color: #2196F3;
        color: white;
    }

    /* Style the search box inside the navigation bar */
    .topnav input[type=text] {
        float: right;
        padding: 6px;
        border: none;
        margin-top: 8px;
        margin-right: 16px;
        font-size: 17px;
    }
    .active{
        background-color: black;
        color: #f1f1f1;
    }
    img{
        height: 80px;
        width: 120px;
    }
    button,a{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        border-collapse: collapse;
        background-color: white;
        color: black;
    }
</style>
<body>
<img src="https://media.licdn.com/dms/image/C560BAQFDRpqQyJbc2Q/company-logo_200_200/0/1631303682785?e=2147483647&v=beta&t=LyO68LLPir5E-sP2zHiWjVTzYHUSGfd4bOaUKQSAchs" alt="">
<header>
    <h1>Employee Management System Portal</h1>
</header>
<br>
<div class="top-nav">
    <button>
        <a href="/employees/form"> Add Experience</a>
    </button>
    <ul>
        <br><br>
        <li><a href="/employees" >Dashboard</a></li>
        <li><a href="/employees/employeelist" >Employee List</a></li>
        <li><a href="/employees/experiencelist" class="active">Employee Experience</a></li>
        <li><a href="/employees/skilllist">Employee Skills</a></li>
        <li><a href="/About">Employee Qualification</a></li>
    </ul>
</div>
<br>

<div>
    <table class="experience">
        <thead>
        <tr>
            <th>ID</th>
            <th>Company Name</th>
            <th>Join Date</th>
            <th>End Date</th>
            <th>Designation</th>
            <th>Description</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="experience:${experiences}">
            <td th:text="${experience.id}"></td>
            <td th:text="${experience.comp_name}"></td>
            <td th:text="${experience.join_date}"></td>
            <td th:text="${experience.end_date}"></td>
            <td th:text="${experience.designation}"></td>
            <td th:text="${experience.description}"></td>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>