<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="qualification">
    <thead>
    <tr>
        <th>ID</th>
        <th>School Name</th>
        <th>Join Date</th>
        <th>End Date</th>
        <th>Field</th>
        <th>Grade</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="qualification:${qualifications}">
        <td th:text="${qualification.id}"></td>
        <td th:text="${qualification.school_name}"></td>
        <td th:text="${qualification.school_join_date}"></td>
        <td th:text="${qualification.school_end_date}"></td>
        <td th:text="${qualification.school_field}"></td>
        <td th:text="${qualification.school_grade}"></td>

    </tr>
    </tbody>
</table>
</body>
</html>